
body {
	/*overflow	: hidden;*/
	padding		: 50px;
	margin		: 50px;
	height:100%; /* force the BODY element to match the height of the HTML element */
}




nav{
	display: block;
	position: absolute;
	top:20px;
	right:20px;
	z-index: 30;

}

.wrapper{
	display: block;
	max-width:1200px;
	border:solid thin blue;
	margin:0 auto;

}


.text{
	display: block;
	float:left;
	width: 33.33%;
	height: 30em;
	background:rgb(210,250,110);
	padding:1em;
	box-sizing: border-box; 
}

.windcontainer {
	display: block;
	float:left;
	width: 33.33%;
	height: 30em;
	box-sizing: border-box; 
	}

#c {
	position: fixed;
	left: 0px; top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}



@media only screen and (max-width: 40em) {
  body {
    background-color: #dddddd;
    padding		: 0px;
	margin		: 0px;
  }
	.wrapper{
		min-width:100%;
		margin:0 0;
	}

	.windcontainer { 
	  	width: 50%; 
	  	padding:0;
	  	height:20em;
	}
	.text { 
		width: 50%; 
		height:20em;
		padding:0;

	}
}