.container{
	margin:0;
}

#scene-container{
	position: absolute;
	z-index: 20;
	border:solid thin red;
}


#mycanvas{
	position: absolute;
	border:solid thin red !important;
	z-index:30;
	left:50px;
	top:50px;
}

#recordbutton{
	position:absolute;
	z-index:35;
	right:50px;
	top:50px;
	width:100px;
	height:100px;
}

.invisible{
	visibility: hidden;
}